<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to movie web!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @user.email %></p>
    <p>welcome to web movie</p>
    <p>
    Message:<br>
    ----------<br>
    Thank you
    </p>
  </body>
</html>