<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new movie from <%= @movie.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @movie.name %></p>
    <p>Description: <%= @movie.summary %></p>
    <p>
    Message:<br>
    ----------<br>
    Thank you
    </p>
  </body>
</html>