.container {
  margin-top: 100px;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(3.25rem + 2px);
}
a:not([href]):not([tabindex]){
  color: #ffffff;
}
a:hover:not([href]):not([tabindex]){
  color: #ffffff;
}
