.container {
  margin-top: 100px;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(3.25rem + 2px);
}
a:not([href]):not([tabindex]){
  color: #ffffff;
}
a:hover:not([href]):not([tabindex]){
  color: #ffffff;
}
.table>tbody>tr>td{
  vertical-align: inherit !important;
}
.upload-movie-image{
  padding-top: 20px;
}
.label-movie-image{
  padding-top: 20px !important;
}
